:root {
  --spalva1: rgb(236, 55, 52);
  --spalva2: rgb(33, 30, 79);
  --spalva3: rgb(243, 156, 67);
}
body {
  background-color: var(--spalva3);
}
.ivedamasDydis {
  position: absolute;
  top: 50px;
  left: 100px;
  border-radius: 8px;
}
.mygtukas01 {
  position: absolute;
  top: 100px;
  left: 100px;
  color: var(--spalva1);
  background-color: var(--spalva3);
  border-radius: 8px;
  font-weight: bold;
}
.row {
  display: flex;
}
.pixel {
  border: 1px solid grey;
  border-radius: 3px;
  width: 2vw;
  height: 2vw;
}
.plane {
  background-color: var(--spalva1);
}
