input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
:root {
  --spalva1: rgb(236, 55, 52);
  --spalva2: rgb(33, 30, 79);
  --spalva3: rgb(243, 156, 67);
}
.infoBarHide {
  display: none;
}
.infoBarShow {
  display: flex;
  margin-left: 12px;
  margin-right: 12px;
  justify-content: flex-start;
  border-bottom: 1px solid grey;
}
.showLevelis {
  margin-right: 12px;
}
body {
  font-family: "Space Mono", monospace;
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: var(--spalva3);
  border: 1px solid grey;
  border-radius: 8px;
}
#instruction1 {
  position: absolute;
  top: 0px;
  left: 140px;
}
#instruction2 {
  position: absolute;
  top: 28px;
  left: 140px;
}
#instruction3 {
  position: absolute;
  top: 58px;
  left: 140px;
}
#ivedamasLevel {
  position: absolute;
  top: 42px;
  left: 100px;
  border-radius: 8px;
  width: 20px;
}
#ivedamasDydis {
  position: absolute;
  top: 15px;
  left: 100px;
  border-radius: 8px;
  width: 20px;
}
#ivedamasGreitis {
  position: absolute;
  top: 70px;
  left: 100px;
  border-radius: 8px;
  width: 20px;
}
.mygtukas01 {
  position: absolute;
  top: 100px;
  left: 100px;
  color: var(--spalva1);
  background-color: var(--spalva3);
  border-radius: 8px;
  font-weight: bold;
}
.row {
  display: flex;
}
.pixel {
  /* border: 1px solid grey; */
  border-radius: 3px;
  width: 2vw;
  height: 2vw;
}
.plane {
  background-color: var(--spalva1);
}
.enemy {
  background-color: var(--spalva2);
}
.bullet {
  background-color: white;
}
